body {
    background-image: url("../jpg.jpg"), linear-gradient(rgb(82, 36, 36), #000000);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border-radius: 5px; */
}

.login{
  text-align: center;
  margin-top: 35%;
  margin-left: 5%;
  font-size: 50px;
  background-color: #411d1d;
  
  /* background-image: url("../components/LoginPage/png.png");
  background-repeat: no-repeat;
  background-size: cover; */
  height: 450px;
}

#react-root {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, transparent 50%, black 140%);
}

html,body { 
    height: 100%; 
    overflow: hidden; 
} 

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.instructions {
    font-size: 20px;
    margin-top: -5px;
    background-image: url("../components/Header/jpg.png");
    background-size: 100% 115%;
    background-repeat: no-repeat;
    height: 75px;
    color: #ece7e7;
    box-shadow: 7px;
}

.vignette {

    background: radial-gradient(ellipse, transparent 50%, black 200%);
}

div {
    display: block;
}

form {
    background-color: rgb(119, 83, 83, 50);
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.settings {
  background-color: rgb(119, 83, 83, .8);
  width: 50%;
  height: 250px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
    text-shadow: 1px 1px #1a1818;
    border-style: solid;
    border-width: .1px;
    border-color: #411d1d;
    font-family: 'Lucida Sans';
    /* background-color: rgba(82, 36, 36, .9); */
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    left: 10px;
    background-image: linear-gradient( rgb(82, 36, 36, .9), rgb(82, 36, 36, .75));
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-left: 10px;
    float: left;
    font-size: 22px;
}

.master-root {
    border-radius: 5px;
    /* margin: 20px auto; */
    position: relative;
    height: 900px;
    width: 100%;
    overflow: hidden;
  }

  .clickcard {
    height: 100%;
    width: 100%;
  }
  
  .card {
    border-radius: 5px;
    background-color: white;
    background-size: cover;
    position: absolute;
    background: #F8F3F3;
    height: 60%;
    width: 80%;
    margin-top: -25%;
    transition: box-shadow .3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
    cursor: pointer;
  }

  /* .infosheet {
    border-radius: 5px;
    background-color: white;
    background-size: cover;
    position: absolute;
    background: #F8F3F3;
    height: 20%;
    width: 90%;
    margin-bottom: -25%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
  } */
  
  .animate {
    transition: transform .3s;
    box-shadow: 1px;
  }
  
  .inactive {
    box-shadow: 1px;
  }
  
  .alert {
    width: 20%;
    min-height: 10%;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    transition: opacity .5s;
    color: white;
    vertical-align: middle;
    line-height: 3rem;
  }
  
  .alert-visible {
    opacity: 1;
  }
  
  .alert-right {
    top: 0;
    right: 0;
    background: rgb(119, 141, 119);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .alert-left {
    top: 0;
    left: 0;
    background: red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .alert-top {
    background: purple;
    border-radius: 10px;
    transform: translate(-50%, 0);
    margin-left: 50%;
   }
  
   .alert-bottom {
    bottom: 0;
    background: blue;
    border-top-left-radius: 50px;
    border-radius: 10px;
    transform: translate(-50%, 0);
    margin-left: 50%;
   }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
